/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
   box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
/* 
html, body {
  height: 100%;
}
*/
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ==== END OF CSS RESET === */

:root {
   /* Semantic naming */
   --neutral-200: hsl(0, 0%, 98%);
   --neutral-500: hsl(0, 0%, 41%);
   --neutral-900: hsl(0, 0%, 8%);

   /* Contextual naming */
   --background: var(--neutral-200);
   --text-light: var(--neutral-500);
   --text-dark: var(--neutral-900);
}

body {
   font-family: 'Epilogue', sans-serif;
   background-color: var(--background);
}

a {
   text-decoration: none;
   color: var(--text-light);
}

a:hover, button:hover {
   color: var(--text-dark);
}

header {
   padding: 20px;
}

button {
   cursor: pointer;
   background-color: var(--background);
   color: inherit;
   padding: 7px 20px;
   border-radius: 15px;
   border: 1px solid var(--text-dark);
}

/* HEADER MOBILE STYLING  */

.header-container {
   display: flex;
   justify-content: space-between;
   max-width: 1400px;
   margin: 0 auto;
}

.hamburger {
   display: none;
   cursor: pointer;
}

.btn-two {
   transition: all .3s;
}

.btn-two:hover {
   background-color: var(--text-dark);
   color: var(--background);
}

/* HIDE HEADER ITEMS ON MOBILE AND SHOWS HAMBURGER  */

@media screen and (max-width: 750px) {
   .desktop:not(:first-child) {
      display: none;
   }
   .menu-item {
      display: none;
   }
   .hamburger {
      display: block;
   }
}

/* DESKTOP HEADER STYLING  */

@media screen and (min-width: 751px) {
   .logo {
      margin-right: 40px;
   }
   .header-container {
      justify-content: space-between;
      align-items: center;
   }
   .header-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .header-section-one {
      display: flex;
      gap: 20px;
   }
   .header-section-two {
      justify-self: flex-end;
   }
   .btn-one {
      margin-right: 10px;
      border: transparent;
   }
}

/* MAIN SECTION MOBILE STYLING  */

.main-section-hero {
   margin: 0 auto;
}

.main-section-text {
   margin-top: 50px;
   text-align: center;
   padding: 15px;
}

.main-section-text h1 {
   font-size: 2.4rem;
   margin-bottom: 15px;
}

.description {
   margin-bottom: 25px;
}

.main-section-text button {
   align-self: flex-start;

   padding: 10px 30px;
   color: var(--background);
   background-color: var(--text-dark);

   transition: all .3s;

   margin-bottom: 50px;
}

.main-section-text button:hover {
   color: var(--text-dark);
   background-color: var(--background);
}

/* MAIN SECTION DESKTOP STYLING  */

@media screen and (min-width: 751px) {
   .main-container {
      display: flex;
      flex-direction: row-reverse;
      gap: 100px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 20px 0px 20px;
   }

   .main-section-text {
      text-align: start;
      padding: 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .main-section-text h1 {
      margin-top: 50px;
      margin-bottom: 35px;
      font-size: 4rem;
      line-height: 1;
   }

   .main-section-cta span {
      display: block;
   }

   .description {
      margin-bottom: 45px;
   }

   .main-section-hero {
      flex-basis: 50%;
   }
}

/* FOOTER STYLING  */

.clients {
   display: flex;
   justify-content: space-between;
}